In [1]:
# 1. load relevant packages

from collections import defaultdict
import pandas as pd
import json
import gzip
import os
import numpy

In [2]:
# 2. read in file and convert into sets of CAGs

l=["40_samples_sum_0.2_2019-01-21.cags.json.gz","40_samples_sum_0.3_2019-01-21.cags.json.gz","50_samples_sum_0.3_2019-01-09.cags.json.gz"]

def read_json_gz(fp):
   return json.load(gzip.open(fp, "rt"))

def make_list_genes(fp):
   model = read_json_gz(fp)
   #print(“This is new model”)
   list_of_sets = []
   for list_of_genes in model.values():
       list_of_sets.append(set(list_of_genes))

   return list_of_sets

In [3]:
# 3. create dict of models 
models = {}
for fp in l:
   models[fp] = make_list_genes(fp)
models.keys()

dict_keys(['50_samples_sum_0.3_2019-01-09.cags.json.gz', '40_samples_sum_0.2_2019-01-21.cags.json.gz', '40_samples_sum_0.3_2019-01-21.cags.json.gz'])

In [4]:
# function to compare set A to set B

def one_to_one(set_A,set_B):   
    ov = set(set_A) & set(set_B)
    length=len(ov)
    return length / len(set_A)

# Result should be 1/3, overlap divided by number of genes in set A
print(one_to_one(
    {'a', 'b', 'c'},
    {'c', 'e', 'f', 'g', 'h', 'i'}
))

# Result should be 2/3
print(one_to_one(
    {'a', 'b', 'c'},
    {'b', 'c', 'f', 'g', 'h', 'i'}
))

0.3333333333333333
0.6666666666666666

In [5]:
# 4. function to compare set A to list of set B, returns max # of gene overlap

def one_to_many(set_A,list_of_sets_B):
    max_score=0
    for set_B in list_of_sets_B:
        score=one_to_one(set_A,set_B)
        if score>max_score:
            max_score=score
    return max_score * len(set_A)

print(one_to_many({'a','b','c'},[{'s','r'},{'c','d','e'}]))
print(one_to_many({'c','d','e'},[{'s','r'},{'c','d','e'}]))

# print(one_to_many({'a','b','c'},[{'a','r'},{'c','d','e'}]))
# print(one_to_many({'a','b','c'},[{'a','r'},{'a','b','c'}]))
# print(one_to_many({'a','b','c'},[{'a','r'},{'b','c','e'}]))
# print(one_to_many({'a','b','c'},[{'a','b'},{'c','d','e'}]))

1.0
3.0

In [55]:
# 5. function to compare list of sets A to list of sets B

def many_to_many(list_of_sets_A,list_of_sets_B):
    scores=[]
    total_number_of_genes = []
    for set_A in list_of_sets_A:
#         print("this is new round:")
#         print(set_A)
        scores.append(one_to_many(set_A,list_of_sets_B))
#         print("this is scores-")
#         print(scores)
        total_number_of_genes.append(len(set_A))
#         print("this is genes-")
#         print(total_number_of_genes)
#     print(sum(scores))
#     print(sum(total_number_of_genes))
    return sum(scores)/sum(total_number_of_genes)

#calculates the # of gene overlap / total genes in set A, is the proportion

x1={'a','b','c'},{'e','f','g'}
y1={'s','r'},{'c','d','e'}
model1=(x1,y1)

x2={'a','b','c'},{'l','f','g'}
y2={'s','r'},{'c','d','e'}
model2=(x2,y2)

x3={'c','d','e'},{'e','f','g'}
y3={'a','b'},{'e','c','d'}
model3=(x3,y3)

print(many_to_many(x1,y1))
# print(many_to_many(x2,y2))
# print(many_to_many(x3,y3))

model_one={'a','b','c'},{'e','f','g'}
model_two={'s','r'},{'c','d','e'}

g=(model_one,model_two)

print(many_to_many(model_one,model_two))
print(many_to_many(model_two,model_one))

# models_ex = {}
# for fp in l:
#    models[fp] = make_list_genes(fp)


#type(models_r)
# print(many_to_many([{'a','b','c'},{'e','f','g'}],[{'s','r'},{'c','d','e'}]))
# print(many_to_many([{'a','b','c'},{'l','f','g'}],[{'s','r'},{'a','b','e'}]))

# print(many_to_many([{'c','d','e'},{'e','f','g'}],[{'a','b'},{'e','c','d'}]))
# print(many_to_many([{'a','b','c'},{'e','f','g'}],[{'a','b','c'},{'e','f','g'}]))

0.3333333333333333
2
0.3333333333333333
0.2

In [ ]:
    
# def count_genes(dic):
#     result = 0
#     for char in dic:
#         result += 1     # same as result = result + 1
#     return result
# print(count_genes(models_ex.values()))

# for k,v in models_ex.items():
#     print (k, len(list(filter(None, v))))

# def number_genes(model):
#     for model_values in model.values():
#         result=0
#         for gene in set_A:
#             result += 1
#         return result
    
# number_genes(models_ex)
    
#     def count_chars(txt):
# 	result = 0
# 	for char in txt:
# 		result += 1     # same as result = result + 1
# 	return result

In [ ]:
A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
f = 1
print(A)
for i in range(0, 3):
    f *= 10
    for j in range(0, 3):
       A[i][j] *= f
print(A)

In [137]:
 d = {'A' : [1, 2, 3, 4, 5, 6, 7, 8, 9], 
        'B' : 34, 
        'C' : 12, 
        'D' : [7, 8, 9, 6, 4] } 
  
    # using the in operator 
    count = 0
    for x in d: 
        if isinstance(d[x], list): 
            count += len(d[x]) 
    print(count)

{'b': ['boots'], 'a': ['apple', 'ant', 'apple'], 'c': ['cat']}

In [233]:
models_ex = {"model_one":[{'a','b','c'},{'e','f','g'}],"model_two":[{'s','r'},{'c','d','e'}]}

def number_genes(model1):
    total_genes=0
    for cag in model1:
        total_genes += len(cag)
    return total_genes

number_genes(models_ex["model_one"])

6

In [146]:
models_ex = {"model_one":[{'a','b','c'},{'e','f','g'}],"model_two":[{'s','r'},{'c','d','e'}]}

def get_values(*value):
    for values in value:
        return values
    
get_values(models_ex[model_one])

TypeError: unhashable type: 'list'

In [214]:
models_ex = {"model_one":[{'a','b','c'},{'e','f','g'}],"model_two":[{'s','r'},{'c','d','e'}]}

def number_genes(dic):
    for dic[i] in dic.items():
        for model1 in dic.values():
            total_genes=0
            for cag in model1:
                for gene in cag:
                    gene_num =(len(cag))
                total_genes = total_genes+gene_num
            return total_genes

number_genes(models_ex)

11

In [248]:
def number_genes(model1):
    total_genes=0
    for cag in model1:
        total_genes += len(cag)
    return total_genes

number_genes(models_ex["model_one"])

models_ex = {"model_one":[{'a','b','c'},{'e','f','g'}],"model_two":[{'s','r'},{'c','d','e'}],"model_three":[{'a','b','c','d','e'},{'f','g',},{'h','i'}]}

comparison_dataframe = []
for modelA_name, modelA in models_ex.items():
#     print("Comparing {} to everything else".format(modelA_name))
    for modelB_name, modelB in models_ex.items():
        
        if modelA_name == modelB_name:
            continue
            
#         print("Comparing against {}".format(modelB_name))
       
        comparison_dataframe.append({
                "Model A": modelA_name,
                "Model B": modelB_name,
                "Score": many_to_many(modelA,modelB),
                "Number of CAGs in Model A":(len(modelA)),
                "Number of Genes in Model A": number_genes(modelA)
            })

comparison_dataframe = pd.DataFrame(comparison_dataframe)
comparison_dataframe

,Model A,Model B,Number of CAGs in Model A,Number of Genes in Model A,Score
0,model_three,model_two,3,9,0.333333
1,model_three,model_one,3,9,0.555556
2,model_two,model_three,2,5,0.600000
3,model_two,model_one,2,5,0.200000
4,model_one,model_three,2,6,0.833333
5,model_one,model_two,2,6,0.333333

In [235]:
comparison_dataframe = []
for modelA_name, modelA in models_ex.items():
#     print("Comparing {} to everything else".format(modelA_name))
    for modelB_name, modelB in models_ex.items():
        
        if modelA_name == modelB_name:
            continue
            
#         print("Comparing against {}".format(modelB_name))
       
        comparison_dataframe.append({
                "Model A": modelA_name,
                "Model B": modelB_name,
                "Score": many_to_many(modelA,modelB),
                "Number of CAGs in Model A":(len(modelA))
                "Number of Genes in Model A":number_genes(modelA)
            })

comparison_dataframe = pd.DataFrame(comparison_dataframe)
comparison_dataframe

SyntaxError: invalid syntax (<ipython-input-235-3c8b3042f370>, line 16)